[Desktop Entry]
Type=Application
Name=Anilist
Exec=anilist watching
Terminal=false
Categories=Utility;
Keywords=anime;anilist;
Actions=new;planning;binge;

[Desktop Action new]
Name=New
Exec=anilist new

[Desktop Action planning]
Name=Planning
Exec=anilist planning 

[Desktop Action binge]
Name=Binge
Exec=anilist binge
