[Desktop Entry]
Type=Application
Name=Anilist
Comment=Anime Player & Tracking
Exec=anilist watching
Terminal=false
Categories=Utility;
Keywords=anime;anilist;
Actions=auth;new;planning;binge;score;

[Desktop Action auth]
Name=Auth
Exec=anilist auth

[Desktop Action new]
Name=New
Exec=anilist new

[Desktop Action planning]
Name=Planning
Exec=anilist planning 

[Desktop Action binge]
Name=Binge
Exec=anilist binge

[Desktop Action score]
Name=Score
Exec=anilist score
